/* ################# Base Fonts ##################### */
body{
    font-family: 'Lato', "One Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

h4,
h4.main-title,
h5,
input,
.onecom-webshop-main *
{
    font-family: 'Lato', "One Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.section-title h2,
.main-title,
h2,
h3,
.service-cat-text,
.post-comments #respond h3,
.blog_sidebar .widget-title,
article header{
    font-family: "Alex Brush", "One Open Sans", "Helvetica Neue", Helvetica, sans-serif;;
}

.site-logo h1,
.site-logo h2,
.header-banner h1,
.header-banner h2{
    font-family: 'Lato', "One Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/* ################# Base Colors ##################### */
body,
.regular-color {
    color:#000;
}
.footer-widgets .footer-sidebar-2 a {
    color: #000;
}
.site-logo h1,
.site-logo h2 {
    color:#000;
}

.primary-color,
.steps-block h2,
.footer-widgets,
a, a:active, a:visited, a:focus
{
    color: #f59ba9;
}
a:hover {
    color: #f8bcc5;
}
.header-banner a,
.header-banner a:visited
.header-banner a:active {
    color: #f59ba9;
}
.header-banner a:hover {
    color: #f8bcc5;
}
.footer-widgets .footer-sidebar-2 a,
.footer-widgets .footer-sidebar-2 a:visited
{
    color: #000000;
}
.footer-widgets .footer-sidebar-2 a:hover {
    color: #5f5f5f;
}
.footer-widgets .flex-column:nth-child(3) {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.footer-widgets {
    border-top: 1px solid #ebebeb;
}
.service-list-section .page-title a,
.service-list-section .page-title a:active,
.service-list-section .page-title a:visited {
    color: rgb(0,0,0)
}
.service-list-section .page-title a:hover
{
    color: #5f5f5f;
}
.banner-content-box {
    color: #000000;
}
#site-header {
    background-color: #ffffff;
    border-color: #ebebeb;
}
/* Menu */
#primary-nav ul{
    color: #000;
}
#primary-nav ul li.current_page_item {
    color: #f59ba9;
}
#primary-nav ul li:hover > a {
    color: #f59ba9;
}
#primary-nav ul li ul li a{
    background-color: #ebebeb;
}
#primary-nav ul li ul li a:hover {
    background-color: #ebebeb;
}
#primary-nav ul li ul{
    color: #000;
}
#sticky_menu li.current-menu-item > a{
    background-color: #f59ba9;
    color:#fff;
}

.about-section {
    border: 1px solid #ebebeb;
}
/* double border */
.about-section:before {
    border: 1px solid #ebebeb;
}

/* button */
a.button,
a.button:visited{
    background-color: #f59ba9;
    color: #ffffff;
}
a.button:hover{
    color: #fff;
    background-color: #f8b9c3;
}
a.button a {
    color: #ffffff;
}

/* ########################## Typography ######################### */
body {
    font-size: 16px;
}

h1{
    font-size:30px;
    font-weight:bold;
}
h2{
    font-size:32px;
    font-weight:normal;
    line-height: 32px;
}
h3{
    font-size:26px;
}
h4{
    font-size:16px;
    font-weight:bold;
    line-height: 22px;
}
h5{
    font-size:16px;
    font-weight:bold;
    line-height: 22px;
}
h6{
    font-size:12px;
    line-height: 22px;
}
.main-title{
    font-size: 32px;
    font-weight: normal;
}
.onecom-webshop-main p{
    font-size: 14px;
}
.site-logo h1,
.site-logo h2 {
    line-height:38px;
    font-size:48px;
    font-weight:bold;
}
.about-main-container h4.main-title {
    vertical-align: middle;
    display: inline;
    line-height: normal;
    font-size: 16px;
}
h4.main-title {
    font-weight: bold;
}
/* ######### Spacing & Layout ########## */
.steps-block .block-img, .steps-block .block-content {
    padding-left: 80px;
}

/* ######### Footer vertical align blurry text fix  ############ */
.footer-widgets .v-center div, .footer-widgets .v-center p, .footer-widgets .v-center li {
    line-height: 28px !important;
}

/* 
 * #################### Webshop ####################
 * Tip: only handle a.button & button as .button will create issue with back link
*/

.onecom-webshop-main a.button,
.onecom-webshop-main button,
.onecom-webshop-main a.button:visited
{
    background-color: #f59ba9;
    color: #ffffff;
    transition:0.3s;
}

.onecom-webshop-main a.button:hover{
    color: #fff;
    background-color: #f8b9c3;
    fill: #000000;
}

.onecom-webshop-main a.button:focus,
.onecom-webshop-main a.button:active {
    outline: none;
    box-shadow: 0 0 0 1px #2C4A58;
}
/* theme specific webshop css */
.main-content-box .onecom-webshop-main .order-details ul {
    margin-left: 0;
}
/* #################### Webshop #################### */
